<div class="flex items-center justify-center p-12 ">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="mx-auto w-full max-w-[550px]">
    <!-- レパートリー登録フォーム -->
    <%= form_with model: repertoire, local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="mb-5">
        <%= f.label :name, class: 'mb-3 block text-base font-medium text-[#07074D]' do %>
          料理名<span class="required text-red-500 mx-1" aria-hidden="true">*</span>
        <% end %>
        <%= f.text_field :name, placeholder: '例: ハンバーグ', class: 'w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md' %>
      </div>
      <div class="mb-5">
        <%= f.label :recipe_url, class: 'mb-3 block text-base font-medium text-[#07074D]' do %>
          参考にしたURL（現在Cookpadのみ）
        <% end %>
        <div class="join flex mb-5">
          <%= f.text_field :recipe_url, id: 'recipe_url', placeholder: 'https://', class: 'py-3 px-6 w-full input input-bordered join-item rounded-md border border-[#e0e0e0] bg-white text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md' %>
          <%= button_tag '食材取得', id: 'scrape-button', class: "btn join-item text-white bg-yellow-400 border-0 focus:outline-none hover:bg-yellow-600 rounded text-md" %>
        </div>
      </div>
      <div class="mb-5">
        <%= f.label :ingredient_names, class: 'mb-3 block text-base font-medium text-[#07074D]' do %>
          食材
        <% end %>
        <%= f.text_field :ingredient_names, placeholder: '(,)カンマ区切りで入力', class: 'w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md' %>
      </div>
      <div data-controller='preview' data-no-turbolink>
        <div class="form-group">
          <%= f.label :repertoire_image, 'Upload file', class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-white' %>
          <%= f.file_field :repertoire_image, class: 'block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400', accept: 'image/*' %>
          <%= f.hidden_field :repertoire_image_cache %>
        </div>
        <div class="mt-3 mb-3">
          <%= image_tag repertoire.repertoire_image.url, id: 'preview', size: '300x200' %>
        </div>
        <%=f.submit class: 'flex mx-auto mt-16 text-white bg-yellow-400 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg' %>
      </div>
    <% end %>
  </div>
</div>