<div class="bg-body-dark py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-xl px-4 md:px-8">
    <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
      <div>
        <div class="h-64 overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-auto">
          <%= image_tag @repertoire.repertoire_image.url, loading: "lazy", class:"h-full w-full object-cover object-center" %>
        </div>
      </div>

      <div class="md:pt-8">

        <h1 class="mb-4 text-center text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6 md:text-left"><%= @repertoire.name %></h1>
        <%= render 'crud_menus', repertoire: @repertoire %>
        <div class="card flex-auto bg-base-100 shadow-xl mt-14">
          <h2 class="mb-5 text-center text-xl font-semibold text-gray-800  mt-5 sm:text-2xl md:mb-4 md:text-left">材料</h2>
          <div class="ml-10">
            <% @repertoire.ingredients.each do |ingredient| %>
              <li class="mb-6 text-gray-500 sm:text-lg md:mb-8"><%= ingredient.name %></li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if @repertoire.recipe_url.present? %>
      <div class="text-center mt-24 lg:w-2/3 w-full">
        <p class="mb-8 leading-relaxed">参考にしたURL: <%= @repertoire.recipe_url %></p>
      </div>
    <% end %>
  </div>
</div>
