<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

<<<<<<< HEAD
  <body class="bg-body-dark font-noto-sans flex flex-col min-h-screen">
    <% if user_signed_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <%= render 'shared/flash_message' %>
=======
<<<<<<< HEAD
>>>>>>> 953a08e (画像追加)
=======
  <body>
>>>>>>> 9108fe7 (Revert "Flash massages")
>>>>>>> adcbcae (Revert "Flash massages")
    <%= yield %>
  </body>
</html>
